.navbar{
    margin-top: 1em;
    height: 50px;
    display: flex;
}

.navbar__ul{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navbar__ul__li{
    color: #444;
    text-align: center;
    padding: 1.1em 0;
    text-decoration: none;
}

.navbar__user{
    margin-left: 42%;
    display: flex;
}

.navbar__user__avatar{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.navbar__user__name{
    padding: 1.2em 0.5em;
}

.navbar-link{
    text-decoration: none;
}

.navbar-link.active{
    color: #0a92cc;
}

.navbar-link:hover { 
    text-decoration: none;
    color:#0a92cc;
}

.navbar-link:focus {
    text-decoration: none;
    color:#0a92cc;
}

a:visited{
    color: inherit;
}
